# TYPE  DATABASE        USER            ADDRESS                 METHOD
local   all             postgres                                peer
# "local" is for Unix domain socket connections only
local   all             all                                     peer
# IPv4 local connections:
# host    all             all             127.0.0.1/32            md5
# IPv6 local connections:
# host    all             all             ::1/128                 md5
# Allow replication connections from localhost, by a user with the
# replication privilege.
# local   replication     all                                     peer
# host    replication     all             127.0.0.1/32            md5
# host    replication     all             ::1/128                 md5
host    all             k3s             192.168.5.0/28          md5
host    all             harbor          192.168.5.0/28          md5
host    all             harbor          10.42.0.0/16            md5